@import "nib"
@import "normalize"
@import "iconfonts.styl"

gris_claro = #818181
gris_oscuro = #333333
gris_mas_claro = #f0f0f0
fucsia = #BD255B
azul_facebook = #4b66a0
azul_facebook_oscuro = #243554
azul_twitter = #8addf6
azul_twitter_oscuro = #478bb5
rosa = #cc2f6f

body
	font-family 'Varela Round', sans-serif
	font-size 16px
a 
	text-decoration none
.container
	position relative
	font-size 0
	padding 1.4rem
	text-align center

.desktop-visible
	display none

.tablet-visible
	display none

.tablet-visible-only
	display none

.phone-visible-only
	display block
ul
	margin 0
	padding 0

figure
	margin 0
img
	vertical-align top

.center-block
	margin 0 auto

.center-text
	text-align center

.right-text
	text-align right

.left-text
	text-align left

.padding
	padding 1em

.padding-tb
	padding 1em 0

.playlist
	display none

.left
	float left
.right
	float right

.actions
	background rgba(black, .3)
	bottom 0
	left 0
	position absolute
	right 0

.action
	color white
	font-size 1.2em
	margin-right .5em
	&:last-child
		margin-right 0
	&.gray
		color gris_claro

.wrap
	width 1000px

.title
	color gris_oscuro

.author
	color gris_claro

.button-menu
	color gris_oscuro
	margin-left .5em
	margin-top -10px
	position absolute
	top 2em

.relative
	position relative
.round
	border-radius 50%
	overflow hidden

.header
	height auto
	border-bottom 1px solid gris_claro
	.title
		font-size 1.2em
		line-height 3.5em
		margin 0
		text-align center

.song
	display inline-block
	font-size 1rem
	margin-botton 1em
	margin-right 1em
	text-align left
	width 8rem
	vertical-align top
	&:nth-child(even)
		margin-right 0
	p 
		margin .5em 0

.background-logo
	img
		width 100%
.playing
	display block
	&.small
		width 20em
		margin 0 auto

.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size .8em
		position absolute
	.min
		left 0
		top -5px
	.max
		right 0
		top -5px
	.total
		background gris_claro
		border-radius 5px
		height 5px
		width 75%
		margin 0 auto
	.state
		background fucsia
		border-radius 5px
		height 5px
		position relative
		width 30%
	.circle
		background gris_oscuro
		border-radius 50%
		height 10px
		position absolute
		right 0
		top -2px
		width 10px

.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
	margin-right 1em
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	top .5em
	color gris_claro
	right 1.4em
	font-size 19px
.logo
	display none

.main-container
	width 100%
	overflow scroll
	left 0px
	position fixed
	transition left 0.2s ease-in
	&.on
		left 270px !important

.oculto
	display none
.visible
	display block

#boton-interior
	color gris_mas_claro
	margin-left .5em
	margin-top -10px
	position absolute
	top 2em

.slide-in
	background-color gris_oscuro
	width 270px
	position absolute
	top 0
	left -270px
	transition left 0.2s ease-in
	overflow hidden
	border-right 1px solid gris_claro
	a
		color gris_mas_claro
	.menu
		display block
		
		ul
			list-style none
			padding 0
			margin 1em 0
		li 
			padding 1em
			margin 0 7em
			color gris_claro
			&:hover
				background gris_claro
	&.on
		left 0 !important

#lateral-search
	position absolute 
	top 12%
	left 10%
	
	input
		border-radius .4em
		border 1px solid gris_claro

	span
		color gris_mas_claro
		margin-left .5em
		font-size 1.1em

.menu
	display none

.lateral
	position absolute
	top 17%
	.list
		.items
			margin-left 1em
			border-bottom 1px solid gris_claro
			width 80%

.artist-foto
	
	img
		
		width 100%
	span
		position absolute
		bottom 30%
		left .5em
		font-size 1.8em
		color white

.white-text
	color white

.artist-hits
	margin 1em 0
	padding 0

	li
		list-style none
		position relative
		padding-bottom 1em
		border-top 1px solid gris_mas_claro
		padding-top 1em
		font-size 1.2em
		&:first-child
			border-top none
			padding-top none

	figure
		margin 0 1em
		padding 0
		width 50px
		display inline-block

	img
		with 50px
		height 50px

	p
		display inline-block
		relative absolute
		left 4.2em
		top 15%

.artist-album
	margin 0 1em
	header
		position relative
		padding 0 1em
		margin 1em 0 2em 0
		display block
		overflow hidden
		p
			font-size 2em
			margin 0
			display inline-block
		.submenu
			display inline-block
			float right
			padding-top .5em
			a
				font-size 1.5em
				color gris_oscuro
	.album
		display inline-block
		font-size 1rem
		margin-botton 1em
		margin-right 1em
		padding 0 .5em
		text-align left
		width 7.5rem
		vertical-align top

		&:nth-child(even)
			margin-right 0
		p 
			margin .5em 0
		.image
			img
				width 100%
				height auto

.home-without-loggin
	
	.bg-img
		background black
		background-image url('../img/home-bg.png')
		background-repeat no-repeat
		width 100%
		height 500px
		text-align center
		.spacer
			background transparent
			height 100px
		.spacer2
			background transparent
			height 10px
	.bg-image
		p
			font-size 1.6em

			margin 1.1em auto
			color white
			width 80%
			padding-bottom .3em
		
		.login-social
			margin 0 auto
			width 265px
			height 50px
			border-radius .5em
			padding .5em .5em
			margin-botton .5em
			display block
			font-size 1.1em
			text-align left

			.icon-facebook
				font-size 1.5em
			.icon-twiter
				font-size 1.5em

			a 
				color white
				padding-top 4%
				display block
			.slash
				
				padding 0 .2em
				font-size 1.7em

.twitter 
	background azul_twitter
	.slash
		color azul_twitter_oscuro

.facebook 
	background azul_facebook
	.slash
		color azul_facebook_oscuro

.login 
	margin .5em 1em
	text-align center
	li
		margin 0
		
		display inline-block
		vertical-align top
		width 42%
		padding 2%
		&:first-child
			border-right 2px solid gris_claro
		a
			color gris_claro
			font-size 1.1em
			
.home-info
	img
		width 100%
	p
		text-align center
		color gris_oscuro
		font-size 22px
		&:last-child
			color gris_claro
			font-size 19px
	div
		padding 1em 0
		&:last-child
			border-top 1px solid gris_mas_claro
			width 80%
			margin 0 auto
			color gris_claro
			text-align center
			font-size 22px
			padding-bottom 2em
.footer
	background gris_oscuro
	height 3em
	padding-top 1.5em
	a
		color white
		font-size 1.1em
		padding .4em
	.left
		a
			font-size 1.5em

.login-form
	padding 1em
	color gris_claro
	p
		font-size 22px
		color gris_oscuro
		text-align center
	form 
		
		text-align center
		div
			display block
			position relative
			margin 0 auto
			width 300px

		span
			position absolute
			left 1.2em
			top 1.5em
		
	input
		margin .5em 0
		font-size 18px
		width 230px

	.form-button
		width 285px
		height 2.5em
		border-radius 5px
		border 1px solid fucsia
		background rosa
		color white
		font-size 24px
		padding 0

#acceso
#registro
	cursor pointer



.hidden
	display none

@media screen and (min-width:480px)

	.home-info
		p
			font-size 30px
			&:last-child
				color gris_claro
				font-size 22px
		div
			padding 2em 0 4em 0

	.tablet-visible
		display block

	.tablet-visible-only
		display block

	.login-form
		form
			span
				left 6%

	.artist-hits
		
		ul
			margin 0 auto
			width 70%
		img
			with 80px
			height 80px

		p
			left 6em
			top 1.5em

	.song
		&:nth-child(even)
			margin-right 1em

	.artist-album
		.album
			width 12rem
			font-size 1.3rem

	.home-without-loggin
		.bg-image
			.login-social
				height 50px
				font-size 1.25em
				width 315px
				a
					padding-top 2.6%
				.slash
					font-size 1.5em
					padding 0 .3em

	.playing
		&.medium
			width auto
	.image
		img
			width 100%
			height auto
	.artist-foto
		img
			width 100%
		span
			bottom 20%
			font-size 3em

@media screen and (min-width:1000px)

	
	body
		background gris_mas_claro

	.desktop-visible
		display block

	.tablet-visible-only
		display none

	.button-menu
		display none

	.header
		height auto
		border-bottom none

		.menu
			background gris_mas_claro
			display block
			overflow hidden
			border-top 1px solid gris_oscuro
			.items
				float left
				list-style none
				a
					color gris_oscuro
					cursor pointer
					padding .8em 1em
					text-transform uppercase
					display block
					border-top 5px solid transparent
					&:hover
						border-top 5px solid gris_claro
		.title
			display none

	.login-form
		form
			span
				left 6.3%

	.isotipo
		width 200px

	.logo
		display block
		overflow hidden
		padding 1.3em 0 2em 0
		background white

	.avatar
		width 38px
		height 38px

	.username
		color gris_claro
		position relative
		top 8px
		margin-left .5em
		&:after
			content ""
			
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 8px solid gris_claro
			display inline-block
			margin-left .4em

	.music
		width 30em
		float left
		.description
			display none

	.playlist
		display block
		width 37%
		padding 0 2em
		border-left 1px solid gris_claro

		.list
			list-style none
		.item 
			padding 1em 0
			border-top 1px solid gris_claro
			&:last-child
				border-bottom 1px solid gris_claro
		.action
			font-size 14px

	.playing
		&.large
			padding-top 2em
			margin 0 auto
			width 90%
			overflow hidden
	.user
		position relative
		.username
			cursor pointer
	#menu-avatar
		display none
		border 1px solid gris_oscuro
		background gris_mas_claro
		padding 0.2em 1em
		position absolute
		top 2.5em
		left 0
		right 0
		li
			list-style none
			text-align center
		a
			text-decoration none
			color gris_oscuro

