@import "nib"
@import "normalize"
@import "iconfonts.styl"

gris_claro = #818181
gris_oscuro = #333333
gris_mas_claro = #f0f0f0
fucsia = #BD255B

body
	font-family 'Varela Round', sans-serif
	font-size 16px
a 
	text-decoration none
.container
	position relative
	font-size 0
	padding 1.4rem
	text-align center

ul
	margin 0
	padding 0

figure
	margin 0
img
	vertical-align top

.center-block
	margin 0 auto

.center-text
	text-align center

.right-text
	text-align right

.left-text
	text-align left

.padding
	padding 1em

.padding-tb
	padding 1em 0

.playlist
	display none

.left
	float left
.right
	float right

.actions
	background rgba(black, .3)
	bottom 0
	left 0
	position absolute
	right 0

.action
	color white
	font-size 1.2em
	margin-right .5em
	&:last-child
		margin-right 0
	&.gray
		color gris_claro

.wrap
	width 1000px

.title
	color gris_oscuro

.author
	color gris_claro

.button-menu
	color gris_oscuro
	margin-left .5em
	margin-top -10px
	position absolute
	top 50%

.relative
	position relative
.round
	border-radius 50%
	overflow hidden

.header
	height 3.5em
	border-bottom 1px solid gris_claro
	.title
		font-size 1.2em
		line-height 3.5em
		margin 0
		text-align center

.song
	display inline-block
	font-size 1rem
	margin-botton 1em
	margin-right 1em
	text-align left
	width 8rem
	vertical-align top
	&:nth-child(even)
		margin-right 0
	p 
		margin .5em 0

.background-logo
	img
		width 100%
.playing
	display block
	&.small
		width 20em
		margin 0 auto

.progress
	margin 1em 0
	position relative
	.min
	.max
		font-size .8em
		position absolute
	.min
		left 0
		top -5px
	.max
		right 0
		top -5px
	.total
		background gris_claro
		border-radius 5px
		height 5px
		width 75%
		margin 0 auto
	.state
		background fucsia
		border-radius 5px
		height 5px
		position relative
		width 30%
	.circle
		background gris_oscuro
		border-radius 50%
		height 10px
		position absolute
		right 0
		top -2px
		width 10px

.input
	border 1px solid gris_claro
	height 2.5em
	border-radius 5px
	padding 0 1em 0 2em
	margin-right 1em
.search-icon
	position absolute
	left .5em
	top .8em
	color gris_claro
.close-icon
	position absolute
	top .5em
	color gris_claro
	right 1.4em
	font-size 19px
.logo
	display none

.main-container
	width 100%
	overflow scroll
	left 0px
	position fixed
	transition left 0.2s ease-in
	&.on
		left 270px !important

.oculto
	display none
.visible
	display block

#boton-interior
	color gris_mas_claro
	margin-left .5em
	margin-top -10px
	position absolute
	top 2em

.slide-in
	background-color gris_oscuro
	width 270px
	position absolute
	top 0
	left -270px
	transition left 0.2s ease-in
	overflow hidden
	border-right 1px solid gris_claro
	a
		color gris_mas_claro
	.menu
		display block
		
		ul
			list-style none
			padding 0
			margin 1em 0
		li 
			padding 1em
			margin 0 7em
			color gris_claro
			&:hover
				background gris_claro
	&.on
		left 0 !important

#lateral-search
	position absolute 
	top 12%
	left 10%
	
	input
		border-radius .4em
		border 1px solid gris_claro

	span
		color gris_mas_claro
		margin-left .5em
		font-size 1.1em

.menu
	display none

.lateral
	position absolute
	top 17%
	.list
		.items
			margin-left 1em
			border-bottom 1px solid gris_claro
			width 80%


@media screen and (min-width:480px)

	.song
		&:nth-child(even)
			margin-right 1em

	.playing
		&.medium
			width auto
	.image
		img
			width 100%
			height auto

@media screen and (min-width:1000px)

	
	body
		background gris_mas_claro

	.button-menu
		display none
	.header
		height auto
		border-bottom none

		.menu
			background gris_mas_claro
			display block
			overflow hidden
			border-top 1px solid gris_oscuro
			.items
				float left
				list-style none
				a
					color gris_oscuro
					cursor pointer
					padding .8em 1em
					text-transform uppercase
					display block
					border-top 5px solid transparent
					&:hover
						border-top 5px solid gris_claro
		.title
			display none

	.isotipo
		width 122px

	.logo
		display block
		overflow hidden
		padding 1.3em 0
		background white

	.avatar
		width 38px
		height 38px

	.username
		color gris_claro
		position relative
		top 8px
		margin-left .5em
		&:after
			content ""
			
			border-left 7px solid transparent
			border-right 7px solid transparent
			border-top 8px solid gris_claro
			display inline-block
			margin-left .4em

	.music
		width 30em
		float left
		.description
			display none

	.playlist
		display block
		width 37%
		padding 0 2em
		border-left 1px solid gris_claro

		.list
			list-style none
		.item 
			padding 1em 0
			border-top 1px solid gris_claro
			&:last-child
				border-bottom 1px solid gris_claro
		.action
			font-size 14px

	.playing
		&.large
			padding-top 2em
			margin 0 auto
			width 90%
			overflow hidden