{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Artista: {{ artist.fullname }}{% endblock %}

{% block content %}
	{% include "header.html" with secction_name="Artist Profile"%}
	<h2>{{ artist.fullname }}</h2>
	<ul>
		<li>
			Tracks:
			<ul>
				{% for track in tracks %}
				<li>{{ track.title }}</li>
				{% endfor %}
			</ul>
		</li>
		<li>
			Albums:
			<ul>
				{% for album in albums %}
				<li><img src="{{ album.cover.url }}" alt="{{ album.title }}"> {{ album.title }}</li>
				{% endfor %}
			</ul>
		</li>
	</ul>
{% endblock %}
 