{% load static %}
<header class="header relative">
	<div class="logo">
		<figure class="image">
			<img src="{% static 'img/logo.png' %}" alt="">
		</figure>
		<div class="search">
			search
		</div>
		<div class="user">
			@Pacomanz
		</div>
	</div>
	<a href="#" class="button-menu icon-menu"></a>
	<nav class="menu">
		<ul class="list">
			<li class="items">
				<a href="#">
					Top Hits
				</a>
			</li>
			<li class="items">
				<a href="#">
					Profile
				</a>
			</li>
			<li class="items">
				<a href="#">
					Settings
				</a>
			</li>
			<li class="items">
				<a href="#">
					My likes
				</a>
			</li>
			<li class="items">
				<a href="#">
					Playlists
				</a>
			</li>
			<li class="items">
				<a href="#">
					Logout
				</a>
			</li>
		</ul>
	</nav>
	<div class="title">
		<span>
			{{secction_name}}
		</span>
	</div>
</header>