{% load static %}
<header class="header relative">
	<div class="logo">
		<div class="wrap center-block">
			<figure class="image isotipo left">
				<img src="{% static 'img/logo.png' %}" alt="Sfotipy">
			</figure>
			<div class="user right">
				<figure class="avatar round left">
					<img src="http://192.168.1.36:3000/media/user_profile/avatar.jpeg" alt="avatar" width="38px" height="38px">
				</figure>
				<span class="left username">@Pacomanz</span>
			</div>
			<div class="search right">
				<form action="" class="relative">
					<span class="icon-search search-icon"></span>
					<input type="text" placeholder="Buscar ..." class="input">
					<span class="close-icon">x</span>
				</form>
			</div>
		</div>
	</div>
	{% include "menu.html" %}
		<div class="title">
		<span>
			{{secction_name}}
		</span>
	</div>
</header>