{% load static from staticfiles %}
<header class="header relative">
	<div class="logo">
		<div class="wrap center-block">
			<figure class="image isotipo left">
				<img src="{% static 'img/logo.png' %}" alt="Sfotipy">
			</figure>
			<div class="user right">
				<figure class="avatar round left">
					<img src="{{ user.avatar.url }}" alt="avatar" width="38px" height="38px">
				</figure>
				<span class="left username">@Pacomanz</span>
			</div>
			<div class="search right">
				<form action="" class="relative">
					<span class="icon-search search-icon"></span>
					<input type="text" placeholder="Buscar ..." class="input">
					<span class="close-icon">x</span>
				</form>
			</div>
		</div>
	</div>
	<a href="#" class="button-menu icon-menu {% if secction_name == 'Artist Profile' %}white-text{% endif %}"></a>
	{% include "menu.html" %}
		<div class="title">
			{% if secction_name == 'Artist Profile' %}
				<figure class="artist-foto">
					{% if artist.profile_image %}
					<img src="{{ artist.profile_image.url }}" alt="Artist photo">
					{% else %}
					<img src="http://dummyimage.com/400x150&text=." alt="This artist has no photo">
					{% endif %}
					<span>{{artist.fullname}}</span>
				</figure>
			{% endif %}
		<span>
			{{secction_name}}
		</span>
	</div>
</header>