{% load static from staticfiles %}
<a href="#" class="button-menu icon-menu"></a>
	<nav class="menu">
		<ul class="list center-block wrap">
			<li class="items">
				<a href="{% url 'tophits' %}">
					Top Hits
				</a>
			</li>
			<li class="items">
				<a href="#">
					Profile
				</a>
			</li>
			<li class="items">
				<a href="#">
					Settings
				</a>
			</li>
			<li class="items">
				<a href="#">
					My likes
				</a>
			</li>
			<li class="items">
				<a href="#">
					Playlists
				</a>
			</li>
			<li class="items">
				<a href="#">
					Logout
				</a>
			</li>
		</ul>
	</nav>