{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}PLaying: Music Name{% endblock %}

{% block content %}
	{% include "header.html" with secction_name="Playing"%}

	<secction class="playing small medium large">
		<div class="music">
			<figure class="image relative">
				<img src="{{ track.album.cover.url }}" width="320px" height="320px" alt="{{ track.artist.fullname }} - {{ track.title }}">
				<div class="actions padding right-text">
					<a href="#" class="action icon-add"></a>
					<a href="#" class="action icon-love"></a>
					<a href="#" class="action icon-share"></a>
				</div>
			</figure>
			<div class="padding">
				<div class="progress">
					<span class="min">0:52</span>
					<div class="total">
						<div class="state">
							<div class="circle">
								
							</div>
						</div>
					</div>
					<span class="max">{{ track.duration }}</span>
				</div>
				<div class="description center-text">
					<p class="name">
						{{ track.title }}
					</p>
					<p class="author">
						{{ track.artist.fullname }}
					</p>
				</div>
				<audio id="song_file" preload="none">
					<source src="{{ track.track_field.url }}"></source>
				</audio>
				<div class="play center-text padding-tb">
					<a href="#" class="action gray icon-prev"></a>
					<a href="#" class="action gray icon-play"></a>
					<a href="#" class="action gray icon-next"></a>
					<a href="#" class="action gray icon-random"></a>
					<a href="#" class="action gray icon-vol"></a>
				</div>
			</div>
		</div>
		<div class="playlist right">
			<p class="name">
				{{ track.title }}
			</p>
			<p class="author">
				{{ track.artist.fullname }}
			</p>
			<ul class="list">
				{% for pista in pistas %}
					
				<li class="item">
					<span>
						<a href="{% url 'playing' pista.id %}">{{ pista.title }}</a>
					</span>
					<span class="right">
						<a href="#" class="action icon-add gray"></a>
						<a href="#" class="action icon-love gray"></a>
						<a href="#" class="action icon-share gray"></a>
					</span>
				</li>

				{% endfor %}
			</ul>
		</div>
	</secction>

	<script>
		$(function(){
			var song = document.getElementById('song_file');
			var vol = 1;

			$('.icon-prev').click(function(e){
				e.preventDefault();
				song.currentTime=0;
				console.log("Boton prev");
			});
			$('.icon-play').click(function(e){
				e.preventDefault();
				if(song.paused){
					song.play();
				}else{
					song.pause();
				}
				console.log("Boton play");
			});
			$('.icon-next').click(function(e){
				e.preventDefault();
				console.log("Boton next");
			});
			$('.icon-random').click(function(e){
				e.preventDefault();
				console.log("Boton random");
			});
			$('.icon-vol').click(function(e){
				e.preventDefault();
				if(song.volume === 1){
					song.volume = 0.5;
					return;
				}
				if(song.volume === 0.5){
					song.volume = 0;
					return;
				}
				if(song.volume === 0){
					song.volume = 1;
					return;
				}
				
				console.log("Boton vol");
			});
		});
	</script>
{% endblock %}