{% extends "base.html" %}
{% load static from staticfiles %}

{% block title %}Top Hits{% endblock %}

{% block content %}
	{% include "header.html" with secction_name="Top Hits"%}
	<div class="main-container">
		<section class="container">
			{% for track in tracks %}
				<a href="{% url 'playing' %}">	
					<article class="song">
						<figure class="image">
							<img src="{{ track.album.cover.url }}" witdth="115" height="115" alt="{{ track.title }}">
						</figure>
						<p class="title">
							{{ track.title }}
						</p>
						<p class="author">
							{{ track.artist }}
						</p>
					</article>
				</a>
			{% endfor %}
		</section>
	</div>
{% endblock %}
