{% extends "base.html" %}
{% load staticfiles %}

{% block title %}Top Hits{% endblock %}

{% block content %}
	{% include "header.html" with secction_name="Top Hits"%}
	<section class="container">
		{% for track in tracks %}	
			<article class="song">
				<figure class="image">
					<img src="{{ MEDIA_URL }}{{ track.album.cover }}" witdth="128px" height="128px" alt="{{ track.title }}">
				</figure>
				<p class="title">
					{{ track.title }}
				</p>
				<p class="author">
					{{ track.artist }}
				</p>
			</article>
		{% endfor %}

	</section>
{% endblock %}
